/* ========== ROOT ========== */
/* #region root */
:root {
    --color-bg: black;
}
/* #endregion */

/* #region general */
body {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
}

section {
    position: relative;
    height: 80vh;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Gideon Roman', cursive;
}

p {
    color: white;
}

.gideon-font {
    font-family: 'Gideon Roman', cursive;
}
/* #endregion */

/* #region black fades */
.black-fade {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, black 0%, rgba(48,48,48,0) 10%);
}

.black-fade.flip {
    transform: rotate(180deg);
}
/* #endregion */

/* ========== HEADER ========== */
/* #region navbar-nav override */
.navbar {
    transition: 400ms ease-in-out;
}

.navbar-nav {
    justify-content: center!important;
}

.navbar-nav .nav-item:nth-last-child(1) {
    margin-left: auto;
}
.navbar-nav .spacer{
    visibility: hidden;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        align-items: flex-end;
    }

    .navbar-nav .nav-item {
        padding-right: .75rem;
    }

    .navbar-nav .spacer {
        display: none;
    }
}
/* #endregion */

/* #region navbar-toggler override */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0 );
}
/* #endregion */

/* #region logo */
a.navbar-brand {
    position: relative;
}

.logo {
    position: absolute;
    width: 12rem;
    transform: translateY(-25%);
}

@media screen and (max-width: 768px) {
    .logo {
        width: 8rem;
        transform: translateY(-30%);
    }
}
/* #endregion */

/* ========== LANDING ========== */
/* #region landing */
#landing {
    position: relative;
    z-index: 0;
    background-image: url("../images/ocean-bg-flip.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    overflow: hidden;
    letter-spacing: .15rem;
    font-family: 'Gideon Roman', cursive;
    color: white;
}

#landing .container {
    z-index: 2;
}

#landing div:nth-child(2) {
    z-index: 2;
}

#landing .title-card {
    text-align: right;
    align-self: flex-end;
    margin-bottom: 4rem;
}

.title-card h1 {
    font-size: calc(3rem + 1.5vw)
}

.lead {
    font-weight: 600;
}

@media screen and (max-width: 320px) {
    .title-card h1 {
        font-size: calc(2rem + 1.5vw)
    }
    .lead {
        font-size: .85rem;
    }
}

@media screen and (max-width: 809px) {
    #landing {
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .title-card {
        text-align: right;
        margin-right: auto;
        margin-top: 8rem;
    }
}
/* #endregion */

/* ========== ABOUT ========== */
/* region about */
#about-us h1, #about-us p,
#how-it-works h2, #how-it-works p {
    color: white;
}
/* #endregion */

/* ========== CAROUSEL ========== */
/* #region carousel */
#carousel-section {
    color: white;
}

#carousel {
    height: 80vh;
}

.carousel-item {
    height: 100%;
}

.carousel-caption {
    right: 15%;
    bottom: 0rem;
    left: 15%;
    width: 60%;
}

.angle-clip {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.carousel-img {
    width: 100%;
    height: 100%;
}
.carousel-img.img-1 {
    background: url("../images/carousel/cars-1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-img.img-2 {
    background: url("../images/carousel/cars-2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-img.img-3 {
    background: url("../images/carousel/cars-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* #endregion */

/* ========== VIDEO-MAP ========== */
/* #region video */
#video-map {
    position: relative;
    z-index: 0;
    background-image: url('../images/bamboo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-map .black-fade {
    z-index: 1;
    background: linear-gradient(0deg, black 0%, rgba(48,48,48,0) 100%);
}

#video-map .title-card {
    z-index: 2;
    text-align: left;
    margin-bottom: 4rem;
}

#video-map .video-container {
    z-index: 2;
}

#video-map iframe {
    height: 100%;
}
/* #endregion */
